# Flutter build and cache
.dart_tool/
.packages
.pub-cache/
build/
dist/
dist/**

# Exclude Flutter folder (if not project-critical)
flutter/

# Platform-specific folders
ios/
web/
windows/
linux/
macos/

# IDE-specific
.idea/
.vscode/
*.iml

# OS generated
.DS_Store
Thumbs.db

# Dependency lockfile (optional)
pubspec.lock

# Flutter generated plugins
.flutter-plugins
.flutter-plugins-dependencies

# Logs
*.log

# Metadata files
.metadata